<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar video</title>
    <link rel="stylesheet" href="/css/publicar.css">
</head>
<body>
    <header>
        <h1>OTIMOSPRIME</h1>
    </header>
    <main>
        <form action="/tratarLogin" method="post">
            <h1>Login</h1>
        
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Ex: name@example.com" required>
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="text" id="senha" name="senha" placeholder="Senha" required>
            </div>
            <div>
                <a href="/sign"><label>Não tem uma conta? clique aqui.</label></a>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </main>
    <% if (typeof email !== 'undefined') { %>
        <script>
            alert("email ou senha incorretos.");
        </script>
    <% } %>
</body>
</html>