<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atualizar video</title>
    <link rel="stylesheet" href="/css/publicar.css">
</head>
<body>
    <header>
        <h1>OTIMOSPRIME</h1>
        <a href="/">← Voltar para a home</a>
    </header>
    <main>
        <form action="/tratarUpdVid" method="post" enctype="multipart/form-data">
            <h1>Editar vídeo</h1>
        
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Ex: Meu primeiro vídeo" value="<%= video.titulo %>" required>
            </div>
            <div>
                <label>Arquivo de vídeo</label>
                <label class="arquivo" for="video">
                    📁 Clique para escolher o vídeo
                    <div id="nomeVideo">Nenhum arquivo escolhido</div>
                    <input type="file" accept="video/*" name="video" id="video">
                </label>
            </div>
            <div>
                <label>Arquivo de capa</label>
                <label class="arquivo" for="capa">
                    📁 Clique para escolher o Capa
                    <div id="nomeCapa">Nenhum arquivo escolhido</div>
                    <input type="file" accept="image/*" name="capa" id="capa">
                </label>
            </div>
            <textarea placeholder="Descrição" name="descricao" required><%= video.descricao %></textarea>
            <input type="hidden" value="<%= video.id %>" name="id">
            <button type="submit">atualizar</button>
        </form>
    </main>
    <script>
        let video = document.getElementById('video');
        const nomeVideo = document.getElementById('nomeVideo');
        let capa = document.getElementById('capa');
        const nomeCapa = document.getElementById('nomeCapa');
        video.addEventListener('change', function() {
                let file = this.files[0];
                if(file &&  !file.type.startsWith('video/')){
                    alert("Somente arquivos de vídeo são aceitos.");
                    this.value = '';
                }
                nomeVideo.textContent = file ? file.name : 'Nenhum arquivo escolhido';
            }
        )
        capa.addEventListener('change', function() {
                let file = this.files[0];
                if(file &&  !file.type.startsWith('image/')){
                    alert("Somente arquivos de imagem são aceitos.");
                    this.value = '';
                }
                nomeCapa.textContent = file ? file.name : 'Nenhum arquivo escolhido';
            }
        )
    </script>
</body>
</html>