<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">voltar</a>
    <br>
    <video controls width="auto" autoplay>
        <source src="/<%= video.url %>" type="video/mp4">
        Seu navegador não suporta a reprodução de vídeos.
    </video>
    <h1><%= video.titulo %></h1>
    <small><%= video.updatedAt.toLocaleDateString('pt-BR'); %></small>
    <p><%= video.descricao %></p>
    <p><%= video.autor %></p>
    <form action="/comentar" method="post">
        <input type="text" placeholder="comentar" name="texto">
        <input type="hidden" value="<%= video.id %>" name="id">
        <input type="submit">
    </form>
    <% listaComentarios.forEach(function(comentario) { %>
        <br><p><%= comentario.texto %></p>
        <p><%=  comentario.usuario.nome %></p>
    <%});%>
</body>
</html>