<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">voltar</a>
    <br>
    <video controls width="auto" autoplay>
        <source src="/<%= video.url %>" type="video/mp4">
        Seu navegador não suporta a reprodução de vídeos.
    </video>
    <h1><%= video.titulo %></h1>
    <p><%= video.descricao %></p>
    <p><%= video.autor %></p>
</body>
</html>